In [79]:
# Import dependencies
import requests
import pandas as pd
from pprint import pprint
from sodapy import Socrata

In [80]:
# Retrieve data using Socrata function provided by sodapy (API developers)
client = Socrata("data.cityofchicago.org", None)
schools = client.get("d2h8-2upd", limit=500000)

# Convert  results to pandas DataFrame
schools_df = pd.DataFrame.from_records(schools)

schools_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,address,ald_15,commarea,geo_network,governance,grade_cat,grades,lat,long,network,phone,school_id,short_name,the_geom,ward_15,zip
0,4647 W 47TH ST,Edward M. Burke,GARFIELD RIDGE,8,Charter,ES,"K, 1, 2, 3, 4, 5, 6, 7, 8",41.8075785077,-87.7400974358,Charter,1(773)582-1100,400009,GLOBAL CITIZENSHIP,"{'type': 'Point', 'coordinates': [-87.74009743...",14,60632
1,5410 S STATE ST,Patricia R. Dowell,WASHINGTON PARK,9,Charter,HS,"9, 10, 11, 12",41.7961215104,-87.6258490365,Charter,1(773)548-8705,400010,ACE TECH HS,"{'type': 'Point', 'coordinates': [-87.62584903...",3,60609
2,3141 W JACKSON BLVD,Jason C. Ervin,EAST GARFIELD PARK,5,Charter,ES,"K, 1, 2, 3, 4, 5, 6, 7, 8",41.877248353,-87.7052345259,Charter,1(773)265-7232,400011,LOCKE A,"{'type': 'Point', 'coordinates': [-87.70523452...",28,60612
3,3986 W BARRY AVE,Ariel E. Reboyras,AVONDALE,4,Charter,HS,"9, 10, 11, 12",41.9372982853,-87.7270956585,Charter,1(773)252-0970 x137,400013,ASPIRA - EARLY COLLEGE HS,"{'type': 'Point', 'coordinates': [-87.72709565...",30,60618
4,3729 W LELAND AVE,Rey Colon,ALBANY PARK,1,Charter,ES,"6, 7, 8",41.966405668,-87.7218246652,Charter,1(773)252-0970,400017,ASPIRA - HAUGAN,"{'type': 'Point', 'coordinates': [-87.72182466...",35,60625

# Retrieve data using Socrata function provided by sodapy (API developers)
client = Socrata("data.cityofchicago.org", None)
results = client.get("d2h8-2upd", limit=500000)

# Convert  results to pandas DataFrame
schools_df = pd.DataFrame.from_records(results)

schools_df.head()

In [81]:
# Extract useful rows into 'df' which will be saved to csv after munging
revDF = results_df[['short_name', 'governance', 'address', 'commarea', 'zip', 'lat', 'long', 
                    'grade_cat']]

revDFgrouped = revDF.groupby('governance').count()
revDFgrouped

            short_name  address  commarea  zip  lat  long  grade_cat
governance
ALOP                10       10        10   10   10    10         10
Charter            122      122       122  122  122   122        122
Contract             9        9         9    9    9     9          9
District           518      518       518  518  518   518        518
Safe                 2        2         2    2    2     2          2

In [82]:
#Save output to csv
revDF.to_csv('schools.csv', index=False)